<h1>hello</h1>
<ul>
  <% @lists.each do |list| %>
  <li><%= list.id %> - <%= list.name %> - <%= link_to "Show this list", list_path(list) %></li>
  <% if list.photo.attached? %>
    <%= cl_image_tag list.photo.key %>
  <% else %>
    <%= image_tag 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPQDYau3Hs4-xw1i8jVSUY4BlF4FLmg8lQqg&usqp=CAU' %>
  <% end %>
</ul>



<ul>

</ul>

<%= link_to "Create a new list", new_list_path %>
